############################
# Eclipse
############################
.settings/
.classpath
.project
bin/

############################
# Maven build output
############################
target/

############################
# Optional scripts
############################
clean_git_repo.bat
.bat
.gitignore
############################
# OS files
############################
.DS_Store
Thumbs.db