############################
# Eclipse
############################
.settings/
.classpath
.project

############################
# Maven build output
############################
target/

############################
# Optional scripts
############################
clean_git_repo.bat

############################
# OS files
############################
.DS_Store
Thumbs.db